<div class="container-fluid">
    <div class="tema my-2">
        <span>Historial prestamos de libros</span>
    </div>
    
    <table class="table" >
        <thead>
            <tr>
                <th>
                    Título de libro
                </th>
                <th>
                    Autor de libro
                </th>
                <th>
                    año de publicación
                </th>
                <th>generoLibro</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let solicitado of listaLibro">
                <td>{{solicitado.tituloLibro}}</td>
                <td>{{solicitado.autorLibro}}</td>
                <td>{{solicitado.anioLibro}}</td>
                <td>{{solicitado.generoLibro}}</td>
            </tr>
        </tbody>
    </table>
    
    <app-paginacion [paginacion]="paginacionResponse" (cambioPaginaEvent)="cambioPagina($event)"></app-paginacion>
    
    <button class="btn btn-link" type="button" routerLink="../"><i class="bi bi-arrow-left-circle"></i>
        Regresar</button>
</div>
    