<!-- Menu Lateral -->
<div id="sidebar" class="colormenu">

    <ul class="nav nav-pills flex-column">

        <li>
            <a routerLink="./admin/usuarios" class="nav-link colortextnav">Modulo administración usuarios</a>
        </li>
        <li>
            <a routerLink="./admin/libros" class="nav-link colortextnav">Modulo administración usuarios</a>
        </li>
        <li>
            <a routerLink="./bibliotecario" class="nav-link colortextnav">Modulo Bibliotecario</a>
        </li>
        <li>
            <a routerLink="./lector" class="nav-link colortextnav">Modulo lector</a>
        </li>
    </ul>
</div>